html{
	box-sizing: border-box;
	font-size: 62.5%; /* Reset para REMS - 62.5% = 10 px de 16px */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	line-height: 2;
}

/* Globales */
img{
	max-width: 100%;
}
.contenedor{
	width: 95%;
	max-width: 120rem;
	margin: 0 auto 0 auto;
}
h1{
	font-size: 3.8rem;
}
h2{
	font-size: 3.4rem;
}
h3{
	font-size: 3rem;
}
h4{
	font-size: 2.6rem;
}


/* Utilidades */
.seccion{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.tle300{
	font-weight: 300;
}

.fce{
	text-align: center;
}

.contenido-centrado{
	max-width: 80rem;
}

/* Botones */
.boton.boton-amarillo.d-block{
	display: block!important;
}

.boton{
	color: white;
	font-weight: 700;
	text-decoration: none;
	font-size: 1.8rem;
	padding: 1rem 3rem;
	margin-top: 3rem;
	text-align: center;
	display: inline-block;
	border: none;
	display: block;
	flex: 0 0 100%;
}

@media(min-width: 768px){
	.boton{
		display: inline-block;
		flex: 0 0 auto;
	}
}

.boton:hover{
	cursor: pointer;
}

.boton-amarillo{
	background-color: #e08709;
}
.boton-verde{
	background-color: #71b100;
}

/* Header */
.site-header{
	background: #333333;
	padding: 1rem 0 3rem 0;
}

.site-header.inicio{
	background-image: url(../img/header.jpg);
	background-position: center center;
	background-size: cover;
	height: 100vh;
	min-height: 60rem;
}

.contenido-header{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

@media(min-width: 768px){
	.contenido-header{
		text-align: left;
	}
}

.contenido-header h1{
	color: #ffffff;
	padding-bottom: 2rem;
	max-width: 60rem;
	line-height: 2;
}

.barra{
	padding-top: 3rem;
}

@media(min-width: 768px){
	.barra{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.navegacion a{
	color: white;
	text-decoration: none;
	font-size: 2.2rem;
	display: block;
}

@media(min-width: 768px){
	.navegacion a{
		display: inline-block;
		font-size: 1.8rem;
		margin-right: 2rem;
	}

	.navegacion a:last-of-type{
		margin: 0;
	}
}

.navegacion a:hover{
	color:#71b100;
}

/** Mobile Menu **/
.mobile-menu img{
	width: 5rem;
}

@media(min-width: 768px){
	.mobile-menu{
		display: none;
	}
}

.navegacion:target{
	display: block;
}

.navegacion{
	display: none;
}

@media(min-width: 768px){
	.navegacion{
		display: block;
	}
}

/* Iconos Nosotros */
@media(min-width: 768px){
	.iconos-nosotros{
		display: flex;
		justify-content: space-between;
	}
}
.encabezado-nosotros{
	font-weight: 300;
	text-align: center;
}

.icono{
	text-align: center;
}

@media(min-width: 768px){
	.icono{
		flex-basis: calc(33.3% - 1rem);
	}
}

.icono h3{
	text-transform: uppercase;
}

/* anuncios */
@media(min-width: 768px){
	.contenedor-anuncios{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.anuncio{
	border: 1px solid #b5b5b5;
	background: #f5f5f5;
	margin-bottom: 2rem;
}

@media(min-width: 768px){
	.anuncio{
		/*G: grow S: shrink B: basis */
		/*    G S        B*/
		flex: 0 0 calc(33.3% - 1rem);
	}
}

.contenedor-anuncio{
	padding: 2rem;
}

.contenido-anuncio h3, .contenido-anuncio p{
	margin: 0;
}

.precio{
	color: #71b100;
	font-weight: 700;
}

.ver-todas{
	display: flex;
	justify-content: flex-end;
}

.iconos-caracteristicas{
	list-style: none;
	padding: 0;
	display: flex;
	flex: 1;
	justify-content: space-evenly;
	max-width: 50rem;
}
.iconos-caracteristicas li{
	display: flex;
}
.iconos-caracteristicas li img{
	margin-right: 2rem;
}

@media(min-width: 768px){
	.seccion-inferior{
		display: flex;
		justify-content: space-between;
	}
	.seccion-inferior .blog{
		flex-basis: 60%;
	}
	.seccion-inferior .testimoniales{
		flex-basis: calc(40% - 2rem);
	}
}

.entrada-blog{
	margin-bottom: 2rem;
}

@media(min-width: 768px){
	.entrada-blog{
		display: flex;
		justify-content: space-between;
	}
}

.entrada-blog:last-of-type{
	margin-bottom: 0;
}

@media(min-width: 768px){
	.entrada-blog .imagen{
		flex-basis: 40%;
	}
	.entrada-blog .texto-entrada{
		flex-basis: calc(60% - 3rem);
	}
}

.texto-entrada a{
	color: #000000;
	text-decoration: none;
}

.texto-entrada h4{
	margin: 0;
	line-height: 1.4;
}

.texto-entrada h4::after {
	content: '';
	display: block;
	width: 15rem;
	height: .5rem;
	background-color: #71b100;
	margin-top: 1rem;
}

.texto-entrada span{
	color: #e08709;
}
/* Testimoniales */
.testimonial{
	background-color: #71b100;
	font-size: 2.4rem;
	padding: 2rem;
	color: #ffffff;
	border-radius: 2rem;
}

.testimonial p{
	text-align: right;
}

.testimonial blockquote::before {
	content: '';
	background-image: url(../img/comilla.svg);
	width: 4rem;
	height: 4rem;
	position: absolute;
	left: -2rem;
}

.testimonial blockquote{
	position: relative;
	padding-left: 5rem;
	font-weight: 300;
}

/** FOOTER **/
.site-footer{
	background: #333333;
	margin:0;
}

.contenedor-footer{
	padding: 3rem 0;
	text-align: center;
	}

@media(min-width: 768px){
	.contenedor-footer{
		display: flex;
		justify-content: space-between;
	}
}

.site-footer nav{
	display: none;
}

@media(min-width: 768px){
	.site-footer nav{
		display: block;
	}
}

.copyright{
	margin: 0;
	color: #ffffff;
}


/* Contacto Home */
.imagen-contacto{
	background: url(../img/encuentra.jpg);
	height: 40rem;
	background-position: center center;
	background-size: cover;
	display: flex;
	align-items: center;

}
.contenido-contacto{
	flex: 0 0 95%;
	color: #ffffff;
}

.contenido-contacto p{
	font-size: 1.8rem;
}

/* Paginas internas */
/* Nosotros */
@media(min-width: 768px){
	.contenido-nosotros{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 2rem;
	}	
}



.texto-nosotros blockquote{
	font-weight: 900;
	font-size: 2rem;
	margin: 0;
	padding: 1rem 0 3rem 0;
}

/* Anuncio */
.resumen-propiedad{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Contacto */
form p{
	font-size: 1.2rem;
	color: #4f4f4f;
	margin: 2rem 0 0 0;
}
legend{
	font-size: 2.4rem;
	color: #4f4f4f;
}

label{
	font-weight: 700;
	text-transform: uppercase;
	display: block;
}

input:not([type="submit"]),
textarea,
select{
	padding: 1rem;
	display: block;
	width: 100%;
	background: #e1e1e1;
	margin-bottom: 2rem;
	border: none;
	border-radius: 1rem;
}

input[type="radio"]{
	width: auto;
	margin:0;
}

select{
	-webkit-appearance: none;
	appearance: none;
}

textarea{
	height: 20rem;
}

.forma-contacto{
	max-width: 30rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}